<script type="text/javascript">
    function validateChangePasswordform() {
        if (document.getElementById('lblUserError').style.display == 'block') {
            $('#lblUserError').css('display', 'none');
        }
        
        if ($('#txtOldPassword').val() == '' || $('#txtOldPassword').val() == 'Password') {
            $('#lblUserError').css('display', 'block');
            $('#lblUserError').text('Please enter your old password.');
            return false;
        }

        if ($('#txtPassword').val() == '' || $('#txtPassword').val() == 'Password') {
            $('#lblUserError').css('display', 'block');
            $('#lblUserError').text('Please enter your new password.');
            return false;
        }

        if ($('#txtPassword').val().length < 6) {
            $('#lblUserError').css('display', 'block');
            $('#lblUserError').text('Password should contain atleast 6 characters.');
            return false;
        }

        if (!$('#txtPassword').val().match(/[a-z]/)) {
            $('#lblUserError').css('display', 'block');
            $('#lblUserError').text('Password should contain atleast 1 lowercase character.');
            return false;
        }

        if (!$('#txtPassword').val().match(/[A-Z]/)) {
            $('#lblUserError').css('display', 'block');
            $('#lblUserError').text('Password should contain atleast 1 Uppercase character.');
            return false;
        }


        if (!$('#txtPassword').val().match(/\d+/)) {
            $('#lblUserError').css('display', 'block');
            $('#lblUserError').text('Password should contain atleast 1 numeric character.');
            return false;
        }

        if ($('#txtConfirmPassword').val() == '' || $('#txtPassword').val() == 'Password') {
            $('#lblUserError').css('display', 'block');
            $('#lblUserError').text('Please confirm your password.');
            return false;
        }

        if ($('#txtPassword').val() != $('#txtConfirmPassword').val()) {
            $('#lblUserError').css('display', 'block');
            $('#lblUserError').text('Passwords doesnt match.');
            return false;
        }

        var oldpassword = $('#txtOldPassword').val();
        var newpassword = $('#txtPassword').val();
        var confirmpassword = $('#txtConfirmPassword').val();

        $.ajax({
            url: '/Account/ChangePassword',
            type: 'post',
            data: { "oldpassword": oldpassword, "newpassword": newpassword, "confirmpassword": confirmpassword },
            cache: false,
            success: function (data) {
                if (data.error == 'success') {
                    $('#lblUserError').text('Password updated successfully');
                }
                else if (data.error == 'invalidpassword') {
                    $('#lblUserError').text('Invalid password. Try again');
                }
                else if (data.error == 'unauthorized') { window.location.href = '/Account/Login';}
                else {
                    $('#lblUserError').text(data.error);
                }
            }
        });
        return true;
    }

</script>
<table align="center" cellspacing="5" cellpadding="5" style="width: 500px; margin-left: 26%">
    <tr style="width: 100%;">
        <td style="width: 100%; border-right: 0px solid black; vertical-align: top;">
            <table class="tblChangePassword">
                <tr>
                    <td colspan="2" align="center">
                        <label id="lblUserError" style="color: #C85305; padding-top: 6px; padding-bottom: 6px;">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>Old Password
                    </td>
                    <td>
                        <input type="password" value="Password" id="txtOldPassword" name="txtOldPassword"
                            autocomplete="off" title="password" onfocus="if(value=='Password') value = ''"
                            onblur="if(value=='') value = 'Password'">
                    </td>
                </tr>
                <tr>
                    <td>New Password
                    </td>
                    <td>
                            <input type="password" value="Password" id="txtPassword" name="txtPassword" autocomplete="off"
                                title="password" onfocus="if(value=='Password') value = ''" onblur="if(value=='') value = 'Password'">
                    </td>
                </tr>
                <tr>
                    <td>Re-enter New Password
                    </td>
                    <td>
                            <input type="password" value="Password" id="txtConfirmPassword" name="txtConfirmPassword"
                                autocomplete="off" title="confirm password" onfocus="if(value=='Password') value = ''"
                                onblur="if(value=='') value = 'Password'">
                    </td>
                </tr>
                <tr align="center">
                    <td colspan="2" align="center">
                        <div align="center">
                            <input type="submit" id="btnChangePassword" name="btnChangePassword" value="Change Password"
                                class="default XLargePaddingRight" onclick="return validateChangePasswordform();" />
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
