@{
    Layout = "~/Areas/Account/Views/Shared/_PatPortalLayout.cshtml";
    ViewBag.Title = "PatPortal-Create Password";
}
<script type="text/javascript">
    function validateRegisterform() {
        if (document.getElementById('lblUserError').style.display == 'block') {
            $('#lblUserError').css('display', 'none');
        }

        if ($('#txtPassword').val() == '' || $('#txtPassword').val() == 'Password') {
            $('#lblPwdError').css('display', 'block');
            $('#lblPwdError').text('Please enter your password.');
            return false;
        }

        if ($('#txtPassword').val().length < 6) {
            $('#lblPwdError').css('display', 'block');
            $('#lblPwdError').text('Password should contain atleast 6 characters.');
            return false;
        }

        if (!$('#txtPassword').val().match(/[a-z]/)) {
            $('#lblPwdError').css('display', 'block');
            $('#lblPwdError').text('Password should contain atleast 1 lowercase character.');
            return false;
        }

        if (!$('#txtPassword').val().match(/[A-Z]/)) {
            $('#lblPwdError').css('display', 'block');
            $('#lblPwdError').text('Password should contain atleast 1 Uppercase character.');
            return false;
        }


        if (!$('#txtPassword').val().match(/\d+/)) {
            $('#lblPwdError').css('display', 'block');
            $('#lblPwdError').text('Password should contain atleast 1 numeric character.');
            return false;
        }

        if (document.getElementById('lblPwdError').style.display == 'block') {
            $('#lblPwdError').css('display', 'none');
        }

        if ($('#txtConfirmPassword').val() == '' || $('#txtPassword').val() == 'Password') {
            $('#lblConfirmError').css('display', 'block');
            $('#lblConfirmError').text('Confirm Password required.');
            return false;
        }

        if ($('#txtPassword').val() != $('#txtConfirmPassword').val()) {
            $('#lblConfirmError').css('display', 'block');
            $('#lblConfirmError').text('Passwords doesnt match.');
            return false;
        }

        if (document.getElementById('lblConfirmError').style.display == 'block') {
            $('#lblConfirmError').css('display', 'none');
        }
        return true;
    }
</script>
@if (ViewBag.status)
{
    using (Html.BeginForm("CreatePassword", "Account", FormMethod.Post, new { id = "form1" }))
    {
            
    <div>
        <label id="lblUserError" style="color: #C85305; display: none; padding-top: 6px;
            padding-bottom: 6px;">
        </label>
        <input type="email" id="txtEmail" name="txtEmail" maxlength="113" value="@ViewBag.PatientEmail" readonly="readonly"
                    onfocus="if(value=='someone@example.com') value = ''" onblur="if(value=='') value = 'someone@example.com'">
    </div>
    <div style="padding-top: 15px; padding-bottom: 10px;">
        <label id="lblPwdError" style="color: #C85305; display: none; padding-top: 6px; padding-bottom: 6px;">
        </label>
        <input type="password" value="Password" id="txtPassword" name="txtPassword" autocomplete="off"
            title="password" onfocus="if(value=='Password') value = ''" onblur="if(value=='') value = 'Password'">
    </div>
    <div style="padding-top: 15px; padding-bottom: 10px;">
        <label id="lblConfirmError" style="color: #C85305; display: none; padding-top: 6px;
            padding-bottom: 6px;">
        </label>
        <input type="password" value="Password" id="txtConfirmPassword" name="txtConfirmPassword"
            autocomplete="off" title="confirm password" onfocus="if(value=='Password') value = ''"
            onblur="if(value=='') value = 'Password'">
    </div>
    <div>
        <input type="submit" id="btnRegister" name="btnRegister" value="Register" class="default XLargePaddingRight"
            onclick="return validateRegisterform();" />
    </div>
    }
}
else
{
    <div>
        <span style="color: #C85305; padding-top: 6px; padding-bottom: 6px;">Sorry, We cant
            process your request. Please consult your clinic </span>
    </div>
}
