@charset "utf-8";
/* CSS Document */
 * { outline:none; padding:0px; margin:0px;}
body { font-family:"Segoe UI", Arial, Verdana, Tahoma; margin:0px; padding:0px; background:#fff;}
html , body,.MainWrapper , #MySplitter { height:100% !important;}
/**/
.MainWrapperWidth 	{ width:935px; margin:auto;}
.TopBlue			{ background:#0072c6; min-height:40px; padding:0 20px; position:fixed; left:-20px; top:0; width:100%; z-index:999;}
.LoginTopLine		{ background:#fff; height:40px;}
.LoginLeft			{ float:left; width:475px; margin:0 0 0 20px; background:#0072c6;}
.LoginRight			{ float:right; width:320px; margin:0 20px 0 0;}

.LoginLeftImage		{ padding:0px;} .LoginLeftImage img { display:block;}
.FooterMain 		{ border-top:1px solid #ccc; padding:12px 20px; margin-top:45px; color:#666; font-size:12px; background:#fff; } .FooterMain2 { margin:0px !important; position:fixed; bottom:0px; width:100%; z-index:99999;}
.Copyright 			{float:left; width:50%;color:#666; font-size:12px; } .FooterRight { float:right; width:30%; color:#666; font-size:12px; text-align:right;}
.Copyright  	a 	{ margin:0 0 0 18px; color:#000 !important;}.FooterRight  	a 	{ margin:0 0 0 18px; color:#000 !important;} .Copyright2 { float:none !important; width:auto !important;}
/**/

.Logo				{ float:left; width:auto; margin:0 0px 0 0px; padding:0;} .Logo img { display:block;}

/* Default font style Style */
body, html, TH, TD, td,  div , p, table, li, blockquote { color: #666;  font-size:13px; line-height:135%; font-weight: normal; text-decoration: none; font-family:"Segoe UI", Arial, Verdana, Tahoma;}
p 							{margin:0px; padding:0px 0px 15px 0px;}
td 							{text-align:left; vertical-align:top;}
/*Default List style 

ul							{padding:0px 0px 0px 0px; margin:0px 0px 10px 25px; vertical-align:top;} 
ul li 						{list-style:disc; background:none; padding:0px 0px 1px 0px; margin:0px 0px 0px 0px; vertical-align:top; font-weight:normal;}
ol 							{margin:0px 0px 0px 25px; padding:0px 0px 0px 0px; vertical-align:top;} 
ol li 						{padding:1px 0px 1px 0px; margin:0px; list-style-type:decimal!important; list-style-image:none!important;}
img 						{border:none; outline:none;}
hr 		, .SepLine					{ background:#efefef; color:#efefef; clear:both; height:1px; border:none!important; outline:none!important; padding:0px!important; margin:22px 0px!important; overflow:hidden;}

/**/
.TextSizeXSmall {	font-size: 86%;}
.TextSizeSmall {	font-size: 86%;}
.TextSizeNormal {	font-size: 100%;}
.TextSizeLarge {	font-size: 150%;}
.TextSizeXLarge {	font-size: 192%;}
.TextSizeXXLarge {	font-size: 192%;}
.TextSizeXXXLarge {	font-size: 192%;}
.TextSizeNormalPlus {	font-size: 100%;}
/* Default link syle */
A:Link, A:Visited, A:Active , a * {color: #0072c6;text-decoration: none;}
A:Hover 					{color: #338ed1;text-decoration: none;}

/*Extra Font color styles*/
/* ThemeColor */		.ThemeColor 		{color: #7d7d7d !important; padding:5px 0 0 0; } .ThemeColor a { color:#fff!important; } .ThemeColor a:hover { color:#ccc !important; }
/* NormalBold */.NormalBold 	{color: #737373!important;  font-weight: bold;}
/* Blue */		.TextBlue 		{color: #09619a!important;}
/* Orange */	.TextOrange 	{color: #db6c1e!important;}
/* Green */		.TextGreen 		{color: #a9b65a!important;}
/* Red */		.TextRed 		{color: #a9000d!important;} 
/* Gray */		.TextGray 		{color: #707070!important;} 
/* Gray */		.TextBlack 		{color: #000000!important;} 
/* Gray */		.TextWhite 		{color: #cbcbcb!important;} 
/**/
.ClearFloat 				{clear:both!important; height:0px!important; line-height:0px!important; font-size:0px!important;}
.NoPaneBorder span.SubHead center{border: 2px dotted #0072c6!important;} .DNNEmptyPane { display:none !important;}

::selection {background: #0072c6; /* Safari */ color:#fff;}
::-moz-selection {background: #0072c6; /* Firefox */ color:#fff;}

.HiddenMobile 	{ display:block;}
.HiddenDesktop 	{ display:none;}
/*=====================================================================*/
/* Template Text Headings                                              */
/*=====================================================================*/
/* H1 */H1 , h1 			{color: #262626; font-size: 26px; font-weight: bold; padding:0px 0px 10px 0px; margin:0px 0px; line-height:normal;}
/* H2 */H2 , h2 			{color: #484848; font-size: 24px; font-weight: bold; padding:0px 0px 10px 0px; margin:0px; line-height:normal;}
/* H3 */H3 , h3				{color: #989898; font-size: 22px; font-weight: bold; padding:0px 0px 5px 0px; margin:0; line-height:normal;}
/* H4 */H4 , h4 			{color: #0072c6; font-size: 20px; font-weight: bold; padding:0px 0px 10px 0px; margin: 0px 0px; line-height:normal;}
/* H5 */H5 , h5 			{color: #181818; font-size: 18px; font-weight: bold; padding:0px 0px 10px 0px; margin:0px; line-height:normal;}
/* H6 */H6 , h6				{color: #484848; font-size: 18px; font-weight: bold; padding:5px 0px 10px 0px; margin:0px; line-height:normal;}
/*Small*/small				{font-size: 10px;}
.NoPadding { padding:0px!important;}

/**/


:root input[type=button], :root input[type=submit], :root button {
	height: 2em;	min-width: 6em;	font-size: 100%;	background-color: rgba(182,182,182,0.7);	color: #212121;	padding: 3px 12px 5px;	border: 0px;}
:root input[type=button]:hover, :root input[type=submit]:hover, :root button:hover {	background-color: rgba(205,205,205,0.82);}
:root input[type=button]:active, :root input[type=submit]:active, :root button:active {	background-color: #212121;	color: #FFF;}
:root input[type=button]:focus:not(.c_nobdr), :root input[type=submit]:focus:not(.c_nobdr), :root button:focus:not(.c_nobdr) {	outline: 1px dotted #212121;}
:root input[type=button].default, :root input[type=submit].default, :root button.default { cursor:pointer; font-weight:bold; background-color: #0072c6; display:block;	color: #fff; margin:25px 0 25px 0 !important;}
:root input[type=button]:hover.default, :root input[type=submit]:hover.default, :root button:hover.default {	background-color: #1e82cc;}
:root input[type=button]:active.default, :root input[type=submit]:active.default, :root button:active.default {	background-color: #212121;}
:root input[type=button]:disabled, :root input[type=submit]:disabled, :root button:disabled {	background-color: rgba(202,202,202,0.49) !important;color: rgba(33,33,33,0.49) !important;}
:root .highContrast input[type=button], :root .highContrast input[type=submit], :root .highContrast button {	color: #FFF;	border: 2px solid #FFF;	background-color: #000 !important;}
:root input[type=text], :root input[type=password], :root input[type=email], :root input[type=number], :root input[type=tel], :root textarea {
	width: 18.544em;	padding: 4px 8px;	font-size: 100%;	color: #212121;	border: 1px solid rgba(0,0,0,0.27);	background-color: rgba(255,255,255,0.8);}
:root input[type=text], :root input[type=password], :root input[type=email], :root input[type=number], :root input[type=tel] {	height: 1.466em;}
:root input[type=text]:hover, :root input[type=password]:hover, :root input[type=email]:hover, :root input[type=number]:hover, :root input[type=tel]:hover, :root textarea:hover {
	border-color: rgba(0,0,0,0.44);}
:root input[type=text]:focus, :root input[type=password]:focus, :root input[type=email]:focus, :root input[type=number]:focus, :root input[type=tel]:focus, :root textarea:focus {
	border-color: rgba(0,0,0,0.64);	outline: none;}
:root input[type=text]:disabled, :root input[type=password]:disabled, :root input[type=email]:disabled, :root input[type=number]:disabled, :root input[type=tel]:disabled, 
:root textarea:disabled {
	color: rgba(33,33,33,0.27);	background-color: rgba(202,202,202,0.49);	border-color: rgba(0,0,0,0.15);}
:root .highContrast input[type=text]:disabled, :root .highContrast input[type=password]:disabled, :root .highContrast input[type=email]:disabled, 
:root .highContrast input[type=number]:disabled, :root .highContrast input[type=tel]:disabled, :root .highContrast textarea:disabled {
	background-color: #000;}
:root input[type=checkbox], :root input[type=radio] {
	opacity: 0;	position: absolute;	padding: 0 0 0 0;	width: 19px;	height: 19px;	margin: 0 0 0 0;	float: left;	cursor: pointer;}
:root input[type=checkbox]:last-child, :root input[type=radio]:last-child {
	position: static;	float: none;	opacity: 1;}
:root input[type=checkbox] + label, :root input[type=radio] + label {
	display: inline-block;	background: url(/Content/images/controls.png) top left no-repeat, url(/Content/images/controls.png) top left no-repeat, url(/Content/images/controls.png) top left no-repeat;
	height: 19px;	padding-left: 24px;	cursor: pointer;}
:root .highContrast input[type=checkbox], :root .highContrast input[type=radio] {	opacity: 1;	position: static;	width: auto;	height: auto;}
:root .highContrast input[type=checkbox] + label, :root .highContrast input[type=radio] + label {	display: inline;	background: none;	padding: 0;	height: auto;}
:root input[type=checkbox] + label {	background-position: left -38px;}
:root input[type=radio] + label {	background-position: left -228px;}
:root input[type=checkbox]:checked + label {	background-position: left 38px, left -114px, left -38px;}
:root input[type=checkbox]:active + label, :root input[type=checkbox] + label:active {	background-position: left -57px;}
:root input[type=checkbox]:active:checked + label, :root input[type=checkbox]:checked + label:active {	background-position: left 38px, left -152px, left -57px;}
:root input[type=checkbox]:disabled + label {	background-position: left -76px;}
:root input[type=checkbox]:disabled:checked + label {	background-position: left 38px, left -133px, left -76px;}
:root input[type=checkbox]:focus:not(.c_nobdr) + label:not(.c_nobdr) {	background-position: left 0px, left 38px, left -38px;}
:root input[type=checkbox]:focus:checked:not(.c_nobdr) + label:not(.c_nobdr) {	background-position: left 0px, left -114px, left -38px;}
:root input[type=checkbox]:focus:active:not(.c_nobdr) + label:not(.c_nobdr), :root input[type=checkbox]:focus:not(.c_nobdr) + label:active:not(.c_nobdr) {
	background-position: left 0px, left 38px, left -57px;}
:root input[type=checkbox]:focus:active:checked:not(.c_nobdr) + label:not(.c_nobdr), :root input[type=checkbox]:focus:checked:not(.c_nobdr) + label:active:not(.c_nobdr) {
	background-position: left 0px, left -152px, left -57px;}
:root input[type=radio]:checked + label {	background-position: left 38px, left -304px, left -228px;}
:root input[type=radio]:active + label, :root input[type=radio] + label:active {	background-position: left -247px;}
:root input[type=radio]:active:checked + label, :root input[type=radio]:checked + label:active {	background-position: left 38px, left -342px, left -247px;}
:root input[type=radio]:disabled + label {	background-position: left -266px;}
:root input[type=radio]:disabled:checked + label, {background-position: left 38px, left -323px, left -266px;}
:root input[type=radio]:focus:not(.c_nobdr) + label:not(.c_nobdr) {	background-position: left 0px, left 38px, left -228px;}
:root input[type=radio]:focus:checked:not(.c_nobdr) + label:not(.c_nobdr) {	background-position: left 0px, left -304px, left -228px;}
:root input[type=radio]:focus:active:not(.c_nobdr) + label:not(.c_nobdr), :root input[type=radio]:focus:not(.c_nobdr) + label:active:not(.c_nobdr) {
	background-position: left 0px, left 38px, left -247px;}
:root input[type=radio]:focus:active:checked:not(.c_nobdr) + label:not(.c_nobdr), :root input[type=radio]:focus:checked:not(.c_nobdr) + label:active:not(.c_nobdr) {
	background-position: left 0px, left -342px, left -247px;}
::-webkit-scrollbar {width: 17px;height: 17px;background-color: #F0F0F0;border: none;}
::-webkit-scrollbar-thumb {background-color: #CDCDCD;border: 1px solid #F0F0F0;}
::-webkit-scrollbar-thumb:hover {background-color: #DADADA;}
::-webkit-scrollbar-thumb:active {background-color: #606060;}
::-webkit-scrollbar-thumb:disabled {background-color: #F9F9F9;}
::-webkit-scrollbar-corner {background-color: #F0F0F0;}
::-webkit-scrollbar-button {background-color: #F0F0F0;background-image: url(/Content/images/controls.png);background-repeat: no-repeat;}
::-webkit-scrollbar-button:vertical {height: 33px;}
::-webkit-scrollbar-button:horizontal {width: 33px;}
::-webkit-scrollbar-button:horizontal:increment {background-position: 0px -444px;}
::-webkit-scrollbar-button:horizontal:decrement {background-position: 12px -425px;}
::-webkit-scrollbar-button:vertical:increment {background-position: -1px -391px;}
::-webkit-scrollbar-button:vertical:decrement {background-position: -1px -358px;}
::-webkit-scrollbar-button:hover {background-color: #DADADA;}
::-webkit-scrollbar-button:horizontal:increment:hover {background-position: 0px -548px;}
::-webkit-scrollbar-button:horizontal:decrement:hover {background-position: 12px -529px;}
::-webkit-scrollbar-button:vertical:increment:hover {background-position: -1px -495px;}
::-webkit-scrollbar-button:vertical:decrement:hover {background-position: -1px -462px;}
::-webkit-scrollbar-button:active {background-color: #606060;}
::-webkit-scrollbar-button:horizontal:increment:active {background-position: 0px -652px;}
::-webkit-scrollbar-button:horizontal:decrement:active {background-position: 12px -633px;}
::-webkit-scrollbar-button:vertical:increment:active {background-position: -1px -599px;}
::-webkit-scrollbar-button:vertical:decrement:active {background-position: -1px -566px;}
::-webkit-scrollbar-button:disabled {background-color: #F9F9F9;}
::-webkit-scrollbar-button:horizontal:increment:disabled {background-position: 0px -756px;}
::-webkit-scrollbar-button:horizontal:decrement:disabled {background-position: 12px -737px;}
::-webkit-scrollbar-button:vertical:increment:disabled {background-position: -1px -703px;}
::-webkit-scrollbar-button:vertical:decrement:disabled {background-position: -1px -670px;}

/* Login Page*/
.LoginIntro			{ padding:25px 35px;}
.LoginIntro a, .LoginLeft a:hover, .LoginLeft a:visited{border: 1px #fff;background-color:#fff;text-decoration:none; color:#0072c6; padding:2px 8px;}
.LoginIntro a:hover {opacity:0.76;filter:alpha(opacity=76);}
.LoginIntro a:active {opacity:1;filter:alpha(opacity=100);background-color:black;color:#fff;}
.LoginIntro h1.standard, h1 {  font-weight:100;font-size:31px;line-height:29px; color:#fff;}
.LoginIntro h1.small{font-size:26px;}
.LoginIntro h1.smallest{font-size:18px;line-height:20px;}
.LoginIntro h1.nosubheading{   padding:10px 0px 28px 0px;}
.LoginIntro p.standard , .LoginIntro p{font-weight:100; color:#fff;;font-size:14px;line-height:16px;margin:0px 0px 18px 0px;padding:0; }
.LoginIntro p.standard.small {font-size:12px;margin: 10px 0px 16px 0px;}
.LoginIntro a.standard{display: inline-block; font-size: 13px;font-weight: 100;line-height: 10px;padding: 6px 7px;	visibility: hidden;}

.LogoMail   { margin:45px 0 30px 0;}
.LoginForm input { margin:0 0 10px 0 !important;}
#SignUpTD { padding:110px 0 0 0 ;}

/* Blue Bar*/
.Logo a, .DownArrow a, .NewMsg  a{ padding:2px 10px; display:block;}
.TopBlue a:hover { background:#005ea3;}
.TopRight	{ float:right; min-width:180px;}
.DownArrow	{ float:left; width:auto; border-left:1px solid #7eb5de;}
.DownArrow_img {background-image:url(/Content/images/c4.png);background-position:-82px -33px;width:11px;height:9px; margin:14px 0 13px 0;}
.NewMsg  { float:left; width:auto; margin:0 0 0 15px; padding:0;} .NewMsg a { color:#fff; font-size:14px;}
.NewMsg_img{background-image:url(/Content/images/command2.png);background-position:-1px -1px;width:26px;height:26px; margin:5px 5px 5px 0; vertical-align:middle;}
.Messageing	{float:left; width:auto; margin:0 0 0 px; padding:0;} .Messageing a {padding:0px 8px; display:block;}
.Messageing_img {background-image:url(/Content/images/command2.png);background-position:-109px -0px;width:16px;height:16px; margin:11px 0;}
.Settings	{float:left; width:auto; margin:0 0 0 0px; padding:0;} .Settings a {padding:0px 8px; display:block;}
.Settings_img {background-image:url(/Content/images/command2.png);background-position:-126px -2px;width:17px;height:17px; margin:10px 0;}
.UserInfo	{float:left; width:auto; margin:0 0 0 0px; padding:0; white-space:nowrap;} .UserInfo a {padding:0px 8px; display:block; color:#fff;}
.UserInfo_img {width:20px;height:20px; margin:9px 0 9px 5px; vertical-align:middle;}

/**/
#MySplitter { padding:40px 0; height:100%;}
.SplitterPane { overflow:auto; height:100%;}
#MySplitter .Splitter {	overflow: auto; }
.vsplitbar { cursor:col-resize;width:2px;	background: #f3f3f3;}
.LeftPane , .RightPane{background:#f3f3f3;}

/* Search Pane*/
.SearchPane { text-align:left; position:relative; padding:0 0px 0 0; background:#fff; margin:10px; border:1px solid #bababa;}
.SearchPane input.c_search_go, .SearchPane img.c_search_go {
	border: 0 none;
	width: 15px;
	height: 16px;
	background: #fff no-repeat left top;
	overflow: hidden;
	cursor: pointer;
	padding: 0;
	min-width: 0
}
.SearchPane input.c_search_go:hover {
	background-color: transparent
}
.SearchPane .c_search_box {margin-top: 0;
	margin-bottom: 0px;
	margin-right:22px;
	margin-left: 0px;
	padding-left: 0px; border:0px solid #000 !important ;
	padding-top: 0px;
	padding-right: auto;
	color: #666; text-align:left !important;
	height: 1.3em; width:80%!important;
	line-height: 1.2em;
	background: transparent;}
	
.c_search_go {background:url(/Content/images/search.png) left top no-repeat #fff !important; width:16px; height:16px; position:absolute; top:7px; right:5px; }	

/**/
h3 {font-size:2em; curser:pointer;}
div.toggle{display: none;}


/*ASB Accordion Style*/
.ASBAccordion { overflow:hidden;}
h2.AccordionHeader {display:block; cursor:pointer; margin:0 !important; padding:0px !important;}
h2.AccordionHeader a {display:block; cursor:pointer; padding: 3px 3px 3px 5px!important; font-size:18px;color:#666666 !important; font-weight:normal; text-decoration:none !important;
background:none;}
h2.AccordionHeader a:hover{ background:none ; color:#000;}
h2.active a  , h2.active a:hover{background:none;}
.AccordionContent { display:block; padding:0px;}

img.OpenCloseRDArrow { background:url(/Content/images/c4.png) -143px -16px no-repeat; width:11px; height:12px;}
h2.active a img.OpenCloseRDArrow { background:url(/Content/images/c4.png) -82px -16px no-repeat;}

/* LeftMenuList */
ul.LeftMenuList { list-style:none; margin:0px; padding:0px;}
ul.LeftMenuList li { list-style:none; margin:0px; padding:0px;}
ul.LeftMenuList li  a { display:block; padding:8px; color:#666;}
ul.LeftMenuList li a:hover { background:#e7e7e7;}
ul.LeftMenuList li a:active { background:#d4d4d4;}
.NormalLink { background:none !important;color: #0072c6 !important;}
A:aover.NormalLink 				{color: #338ed1;}

.RefreshLink	{ position:relative; z-index:5;}
.RefreshLink a { background:url(/Content/images/strip_metro_sp1.png) -18px -18px; width: 14px; height:14px;	overflow:hidden; line-height:0px; font-size:0px; position:absolute; z-index:555; right:10px; top:10px;}
.RefreshLink a:hover {background-position: -1px -307px;}
/**/

.CenterPane { padding:25px 0;}
.CenterPane td{ padding:5px 10px;} .CenterPane td a { color:#666;} .CenterPane td label { white-space:nowrap;}
/*.CenterPane table tr:hover , .CenterPane table tr:focus { background:#f3f3f3;}*/
/*.CenterPane table tr:active { background:#f3f3f3;}*/

/* Message table */
.MsgChkBox { min-width:12%; white-space:nowrap !important;} .MsgChkBox * { white-space:nowrap !important;}
.MsgRedUnRead { min-width:1%;  white-space:nowrap;}
.MsgSubject { width:100%;}
.MsgDate { min-width:1%;  white-space:nowrap;}
.BorderBot { border-bottom:1px solid #ccc; padding-bottom:15px !important;}
tr.Nobg:hover { background:none !important;}

.ExcoOpen, .ExcoClosed, .ExcoOpenNormal, .ExcoClosedNormal, .ExcoOpenSmall, .ExcoClosedSmall, .g_close, .g_sort_asc, .g_sort_desc, .i_pn_f, .i_pn_f_d, .i_pn_l, .i_pn_l_d, 
.i_pn_n, .i_pn_n_d, .i_pn_p, .i_pn_p_d, .i_att_s, .i_imp_hi_s, .i_imp_lo_s, .mr_m_r, .i_ts, .i_refresh, .i_c_f, .i_c_r, .HideH .FBA, .HMLV .Collapsed IMG, .ShowH .FBA, .
HMLV .Expanded IMG, .g_hmlv_o, .g_hmlv_c, .i_rm_n, .i_rm_n_d, .i_rm_p, .i_rm_p_d, .i_r_fv, .i_cancel, .mr_tb_a, .mr_tb_c, .mr_tb_t, .g_check, .g_bul, .pinTrayCBImg, .mr_tb_d, 
.i_voicemail, .i_voicemail_s, .i_calllog {
	background-image: url(/Content/images/strip_metro_sp1.png);	background-color: transparent;	background-repeat: no-repeat;	background-attachment: scroll;	overflow: hidden}
.ia_i_c0_0, .ia_i_c0_1, .ia_i_c1_0, .ia_i_c1_1, .ia_i_c2_0, .ia_i_c2_1, .ia_i_c3_0, .ia_i_c3_1, .ia_i_c4_0, .ia_i_c4_1, .ia_i_d, .ia_i_j_0, .ia_i_j_1, .ia_i_r_0, .ia_i_r_1, 
.ia_i_s0, .ia_i_s1, .ia_i_v0, .ia_i_v1, .ia_i_v2, .ia_i_v3, .ia_i_v4, .ia_i_p_0, .ia_i_p_1 {
	background-image: url(/Content/images/strip_metro_sp1.png);	background-repeat: no-repeat;	background-attachment: scroll;	overflow: hidden;	width: 16px;	height: 16px;}
.i_clear {	background-image: url(/Content/images/clear.gif)}
.i_refreshing {	background-image: url(/Content/images/Refresh_animation_16-1.gif)}
.si_fb_like, .si_fb_unlike, .si_fb_comment, .si_twitr_retweet, .si_twitr_favorite, .si_twitr_reply {	background-image: url(/Content/images/si_strip2.png);}

.thmbg { border: 1px solid #ccc}
.media-player { border-bottom: 1px solid #ccc; color: #000; background: #fff}
.FB, .FBL, .FBR { height: 11px}
.FB { background: repeat-x 0 7px; padding-top: 7px; position: relative; top: -7px}
.FBL, .FBR { width: 80px; background: no-repeat}
.FBL { float: left}
.FBR { float: right}
.FBA { margin-top: 5px; position: absolute; right: 80px}
.i_voicemail { width: 20px; height: 20px; background-position: -1px -362px}
.i_calllog { width: 20px; height: 20px; background-position: -1px -341px}
.mr_m_r { width: 16px; height: 16px; background-position: -1px -324px}
.mlSel .mr_m_r { width: 16px; height: 16px; background-position: -18px -1px}
.i_ts { width: 16px; height: 16px; background-position: -22px -365px}
.mlSel .i_ts { width: 16px; height: 16px; background-position: -22px -348px}
.i_refresh { width: 16px; height: 16px; background-position: -18px -18px}
.i_refresh:hover { width: 16px; height: 16px; background-position: -1px -307px}
.i_c_f { width: 16px; height: 16px; background-position: -18px -35px}
.mlSel .i_c_f { width: 16px; height: 16px; background-position: -1px -290px}
.i_c_r { width: 16px; height: 16px; background-position: -18px -52px}
.mlSel .i_c_r { width: 16px; height: 16px; background-position: -1px -273px}
.ia_i_c0_0, .ia_i_c0_1 { width: 16px; height: 16px; background-position: -18px -69px}
.ia_i_c1_0, .ia_i_c1_1 { width: 16px; height: 16px; background-position: -1px -256px}
.ia_i_c2_0, .ia_i_c2_1 { width: 16px; height: 16px; background-position: -18px -86px}
.ia_i_c3_0, .ia_i_c3_1 { width: 16px; height: 16px; background-position: -1px -239px}
.ia_i_c4_0, .ia_i_c4_1 { width: 16px; height: 16px; background-position: -18px -103px}
.ia_i_d { width: 16px; height: 16px; background-position: -1px -222px}
.ia_i_j_0, .ia_i_j_1 { width: 16px; height: 16px; background-position: -18px -120px}
.ia_i_r_0, .ia_i_r_1 { width: 16px; height: 16px; background-position: -1px -205px}
.ia_i_s0, .ia_i_s1 { width: 16px; height: 16px; background-position: -18px -137px}
.ia_i_v0 { width: 16px; height: 16px; background-position: -1px -188px}
.ia_i_v1 { width: 16px; height: 16px; background-position: -18px -154px}
.ia_i_v2 { width: 16px; height: 16px; background-position: -1px -171px}
.ia_i_v3 { width: 16px; height: 16px; background-position: -18px -171px}
.ia_i_v4 { width: 16px; height: 16px; background-position: -1px -154px}
.ia_i_p_0 { width: 16px; height: 16px; background-position: -18px -188px}
.ia_i_p_1 { width: 16px; height: 16px; background-position: -1px -137px}
.mlSel .ia_i_c0_0, .mlSel .ia_i_c0_1, .mlSel .ia_i_c1_0, .mlSel .ia_i_c1_1, .mlSel .ia_i_c2_0, .mlSel .ia_i_c2_1, .mlSel .ia_i_c3_0, .mlSel .ia_i_c3_1, .mlSel .ia_i_c4_0, 
.mlSel .ia_i_c4_1 { width: 16px; height: 16px; background-position: -18px -205px}
.mlSel .ia_i_d { width: 16px; height: 16px; background-position: -1px -120px}
.mlSel .ia_i_j_0, .mlSel .ia_i_j_1 { width: 16px; height: 16px; background-position: -18px -222px}
.mlSel .ia_i_r_0, .mlSel .ia_i_r_1 { width: 16px; height: 16px; background-position: -1px -103px}
.mlSel .ia_i_s0, .mlSel .ia_i_s1 { width: 16px; height: 16px; background-position: -18px -239px}
.mlSel .ia_i_v0, .mlSel .ia_i_v1, .mlSel .ia_i_v2, .mlSel .ia_i_v3, .mlSel .ia_i_v4 { width: 16px; height: 16px; background-position: -1px -86px}
.mlSel .ia_i_p_1 { width: 16px; height: 16px; background-position: -18px -256px}
.i_rm_n { width: 16px; height: 16px; background-position: -1px -69px}
.i_rm_n_d { width: 16px; height: 16px; background-position: -18px -273px}
.i_rm_p { width: 16px; height: 16px; background-position: -1px -52px}
.i_rm_p_d { width: 16px; height: 16px; background-position: -18px -290px}
.i_r_fv { width: 16px; height: 16px; background-position: -1px -35px}
.mr_tb_a { width: 16px; height: 16px; background-position: -18px -307px}
.mr_tb_c { width: 16px; height: 16px; background-position: -1px -18px}
.mr_tb_t { width: 16px; height: 16px; background-position: -18px -324px}
.mr_tb_d { width: 16px; height: 16px; background-position: -1px -1px}
.i_att_s { width: 11px; height: 16px; background-position: -35px -329px}
.mlSel .i_att_s { width: 11px; height: 16px; background-position: -35px -312px}
.i_imp_hi_s { width: 11px; height: 16px; background-position: -35px -295px}
.mlSel .i_imp_hi_s { width: 11px; height: 16px; background-position: -35px -278px}
.i_imp_lo_s { width: 11px; height: 16px; background-position: -35px -261px}
.mlSel .i_imp_lo_s { width: 11px; height: 16px; background-position: -35px -244px}
.g_check { width: 12px; height: 11px; background-position: -35px -232px}
.g_close, .pinTrayCBImg { width: 11px; height: 11px; background-position: -35px -220px}
.i_cancel, .pinTrayCBImg:hover { width: 11px; height: 11px; background-position: -35px -208px}
.i_voicemail_s { width: 10px; height: 10px; background-position: -35px -197px}
.ExcoOpen { width: 11px; height: 9px; background-position: -35px -187px}
.ExcoClosed { width: 9px; height: 11px; background-position: -35px -175px}
.g_sort_asc { width: 8px; height: 11px; background-position: -35px -163px}
.t_seli .g_sort_asc { width: 8px; height: 11px; background-position: -35px -151px}
.g_sort_desc { width: 8px; height: 11px; background-position: -35px -139px}
.t_seli .g_sort_desc { width: 8px; height: 11px; background-position: -35px -127px}
.ExcoOpenNormal { width: 9px; height: 8px; background-position: -35px -118px}
.ExcoClosedNormal { width: 8px; height: 9px; background-position: -35px -108px}
.i_pn_f { width: 8px; height: 9px; background-position: -35px -98px}
.i_pn_f_d { width: 8px; height: 9px; background-position: -35px -88px}
.i_pn_l { width: 8px; height: 9px; background-position: -35px -78px}
.i_pn_l_d { width: 8px; height: 9px; background-position: -35px -68px}
.i_pn_n { width: 8px; height: 9px; background-position: -35px -58px}
.i_pn_n_d { width: 8px; height: 9px; background-position: -35px -48px}
.i_pn_p { width: 8px; height: 9px; background-position: -35px -38px}
.i_pn_p_d { width: 8px; height: 9px; background-position: -35px -28px}
.g_bul { width: 8px; height: 8px; background-position: -35px -19px}
/**/

.ia_not_visible div.ia_h {	visibility: hidden!important}
.ia_vc_h1 .ia_c {	position: relative;	left: -20px}
.ia_vc_h2 .ia_c {	position: relative;	left: -40px}
.ia_vc_h3 .ia_c {	position: relative;	left: -60px}
.ia_vc_h4 .ia_c {	position: relative;	left: -80px}
.ia_vc_h5 .ia_c {	position: relative;	left: -100px}
.ia_c {	display: inline-block;	overflow: visible;	white-space: nowrap;	vertical-align: top;height: 23px}
.ia_vc_f0 .ia_c {	width: 1px;	height: 20px;	padding-left: 0}
.ia_vc_f1 .ia_c {	width: 20px}.ia_vc_f2 .ia_c {width: 40px}
.ia_vc_f3 .ia_c {	width: 60px}.ia_vc_f4 .ia_c {width: 80px}
.ia_vc_f5 .ia_c {	width: 100px}
.ia_h {	display: inline;	vertical-align: top;	visibility: hidden}
.ia_hc:hover .ia_h ,.CenterPane table tr:hover .ia_h {	visibility: visible !important;}.ia_hc:hover .ia_c IMG {	opacity: .6;	filter: alpha(opacity=60)}
.ia_hc .ia_c img.ia_i_p_0, .ia_hc:hover .ia_c IMG:hover {	opacity: 1;	filter: alpha(opacity=100)}
.ia_f {	display: inline}
.ia_c IMG {	margin-right: 4px;	margin-top: 3px;	cursor: pointer;	opacity: .17;	filter: alpha(opacity=17)}
.ia_h_p .ia_i_p_0, .ia_h_p .ia_i_p_1, .ia_h_v .ia_i_v0, .ia_h_v .ia_i_v1, .ia_h_v .ia_i_v2, .ia_h_v .ia_i_v3, .ia_h_v .ia_i_v4, 
.ia_h_v0 .ia_i_v0, .ia_h_v1 .ia_i_v1, .ia_h_v2 .ia_i_v2, .ia_h_v3 .ia_i_v3, .ia_h_v4 .ia_i_v4, .ia_h_c .ia_i_c0_1, .ia_h_c .ia_i_c1_1, 
.ia_h_c .ia_i_c2_1, .ia_h_c .ia_i_c3_1, .ia_h_c .ia_i_c4_1, .ia_h_c0 .ia_i_c0_0, .ia_h_c0 .ia_i_c0_1, .ia_h_c1 .ia_i_c1_0, .ia_h_c1 .ia_i_c1_1, .ia_h_c2 .ia_i_c2_0, 
.ia_h_c2 .ia_i_c2_1, .ia_h_c3 .ia_i_c3_0, .ia_h_c3 .ia_i_c3_1, .ia_h_c4 .ia_i_c4_0, .ia_h_c4 .ia_i_c4_1, .ia_h_s .ia_i_s0, .ia_h_s .ia_i_s1, .ia_h_j .ia_i_j_0, .ia_h_j .ia_i_j_1, 
.ia_h_d .ia_i_d, .ia_h_r .ia_i_r_0, .ia_h_r .ia_i_r_1 {	display: none}
cd_list {	max-height: 9.65em;	overflow-y: auto}
.cd_li {	list-style-type: none}
.cd_menu {	margin-bottom: -20px}.cm_menu {	position: absolute;	z-index: 2000000;	background-color: #fff;	border: 2px solid #000;	width: 18em}
.cm_list {	position: relative;	max-height: 350px;	overflow-y: auto;	overflow-x: hidden;	border-bottom: 1px solid #ccc;	margin-bottom: 5px}
.c_m_scroll .cm_list {	max-height: none}.cm_list li {cursor: pointer}.cm_list .tschk, .cm_list .cm_input {	margin-left: 5px}
.cm_list .tschk {	vertical-align: middle;	height: 26px;	display: inline-block;	padding-left: 0;	padding-top: 2px}
.cm_list .tschk label {	vertical-align: middle}cm_list .tschk span {	line-height: inherit}cm_menu ul.c_m {	visibility: inherit;	position: static;	border: 0}
.cm_hint {	color: #666}.cm_menu .cm_apply, .cm_sel .cm_manage, .cm_sel .cm_addNew {	display: none}
.cm_menu .cm_apply BUTTON {	float: right;	margin-right: 5px;	margin-bottom: 5px;	margin-top: 5px}
.cm_sel .cm_apply {	display: block}#newEditableCategory .cm_input {	width: 89%}
.cm_error {	width: 89%;	margin-left: 10px}
.cm_menu .c_m li {	overflow: hidden}
.cm_menu .c_m li {	text-overflow: ellipsis;	white-space: nowrap}
.cm_menu .c_m li a label {	width: 14em;	overflow: hidden}
.WatermarkedInputContainer {	position: relative}


